{% extends "base.html" %}
{% block content %}
{% load static %}
     <div class="razrab"> 
        <h1>Ведомость вычисления координат точек хода</h2>
        <div id="formula1"><img src="{% static 'images/formulas/formula7.PNG' %}"></div>
        <p>Вычисляется сумма измеренных углов <img src="{% static 'images/formulas/formula8.PNG' %}"> и теоретическая сумма измеренных углов:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula9.PNG' %}"></div>
        <p>где n – число сторон в ходе.</p>
        <p>Угловая невязка рассчитывается по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula10.PNG' %}"></div>
        <p>Угловая невязка в тахеометрическом ходе не должна превышать предельную невязку:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula11.PNG' %}"></div>
        <p>Поправки в углы поворота вычисляются до 0,1′ по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula12.PNG' %}"></div>
        <p>Должно выполняться условие <img src="{% static 'images/formulas/formula13.PNG' %}"></p>
        <p>Дирекционные углы сторон хода вычисляются до 0,1′ с использованием исправленных горизонтальных углов:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula14.PNG' %}"></div>
        <p>При этом должно выполняться условие <img src="formula15.PNG"></p>
        <p>Практические приращения координат при измерении линий нитяным дальномером вычисляются до 0,1 м по формулам:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula16.PNG' %}"></div>
        <p>После вычисления приращений координат вычисляются суммы практических приращений координат<img src="{% static 'images/formulas/formula17.PNG' %}"> и теоретические суммы приращений координат по формулам:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula18.PNG' %}"></div>
        <p>Вычисляются невязки:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula19.PNG' %}"></div>
        <p>Абсолютная и относительная линейные невязки по ходу вычисляются по формулам:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula20.PNG' %}"></div>
        <p>Допустимую линейную невязку и допустимую относительную линейную невязку по ходу вычисляются по формулам:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula21.PNG' %}"></div>
        <p>Относительная линейная невязка по ходу не должна превышать для нитяного дальномера величины 1/500.</p>
        <p>Если полученная линейная невязка удовлетворяет требованиям, то вычисляют поправки в приращение координат:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula22.PNG' %}"></div>
        <p>Должны выполняться условия:<img src="{% static 'images/formulas/formula23.PNG' %}"></p>
        <p>Поправки вводятся в соответствующие приращения координат:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula24.PNG' %}"></div>
        <p>Должны выполняться условия:<img src="{% static 'images/formulas/formula25.PNG' %}"></p>
        <p>После вычисления поправок и исправленных приращений координат вычисляются исправленные координаты:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula26.PNG' %}"></div>
        <p>Должны выполняться условия:<img src="{% static 'images/formulas/formula27.PNG' %}"></p>
        <p>Вычисления высот пунктов тахеометрического хода производят по такой же схеме, как и для координат.</p>
      </div>
      <div class="container2">
        <div class="lox"><a href="payment.html" class="btn">Начать расчёт</a></div>
      </div>
{% endblock content %}
