{% extends "base.html" %}
{% block content %}
      {% load static %}
      <div class="container">
        <div class="razrab">
          <h1>Порядок измерений на пункте хода</h1>
          <u>Измерение горизонтальных углов:</u>
          <p>а) навести трубу на предыдущую точку хода при круге «лево».</p>
          <p>б) установить отсчет по горизонтальному кругу в пределах 0°00′−0°01′ (не следует стараться точно установить отсчет 0°00,0′, так как при этом неизбежно большее влияние коллимационной ошибки).</p>
          <p>в) проверить наведение трубы на предыдущую точку хода и сделать отсчет по горизонтальному кругу.</p>
          <p>г) навести трубу на последующую точку хода при круге «лево» и сделать отсчет по горизонтальному кругу.</p>
          <p>д) перевести трубу через зенит и при круге «право» выполнить наблюдения на последующий и предыдущий пункты хода с производством отсчетов по горизонтальному кругу.</p>
          <p>е) расхождение значений угла в полуприемах допускается не более 1′. При неудовлетворительных результатах измерения следует повторить.</p>
          <br>
          <u>Измерение вертикальных углов и дальномерных расстояний:</u>
          <p>а) при круге «лево» выполнить визирование на предыдущий пункт хода на высоту прибора или определенную высоту визирования. Сделать отсчет по вертикальному кругу.</p>
          <p>б) навести нижнюю дальномерную нить на целое число делений на рейке (удобно брать 1 метр – отсчет по рейке 1000) и сделать дальномерный отсчет.</p>
          <p>в) выполнить визирование на последующий пункт хода на высоту прибора или определенную высоту визирования. Сделать отсчет по вертикальному кругу.</p>
          <p>г) навести нижнюю дальномерную нить на целое число делений на рейке и сделать дальномерный отсчет.</p>
          <p>д) перевести трубу через зенит и при круге «право» выполнить аналогичные наблюдения на последующий и предыдущий пункты хода.</p>
          <p>е) постоянство места нуля на станции (точке) хода должно быть в пределах 1′.</p>
          <p>ж) ввести поправку в дальномерное расстояние и вычислить наклонное расстояние S. Расхождения между соответствующими измеренными расстояниями (с учетом поправок в расстояния) допускаются не более 1/200 и вычисляются по формулам:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula1.PNG' %}"></div>
          <p>До перехода на следующий пункт хода должны быть выполнены все вычисления на станции, в том числе вычислены горизонтальные проложения и превышения между пунктами хода. Для одноименной линии расхождение между горизонтальными проложениями, полученными в прямом и обратном направлениях, не должно быть более 1/200.</p>
          <p>Расхождение между превышениями, полученными в прямом и обратном направлениях, не должно быть более 10 см при расстояниях между пунктами меньше 250 метров.</p>  
          <br>
          <u>Обработка журнала тахеометрического хода состоит из следующего алгоритма:</u>
          <p>1.	Вычисляют углы поворота (с точностью до 0,1′) и средние значения углов (с точностью до 0,1′). При вычислении средних значений округление выполняют «по Гауссу», то есть в четную сторону!</p>
          <p>2.	Вычисляют место нуля и углы наклона по формулам:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula2.PNG' %}"></div>
          <p>3.	Вычисляют средние значения дальномерных отсчетов по формуле:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula3.PNG' %}"></div>
          <p>4.	Вычислить наклонные расстояния S с точностью до 0,1 м, измеренные нитяным дальномером, по формуле:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula4.PNG' %}"></div>
          <p>где l – средний дальномерный отсчет в см, P – поправка в дальномерное расстояние.
          <p>5.	Вычислить горизонтальное проложение до 0,1 м:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula5.PNG' %}"></div>
          <p>6.	Вычислить превышение до 0,01 м:</p>
          <div id="formula1"><img src="{% static 'images/formulas/formula6.PNG' %}"></div>
          <p><img src="{% static 'images/formulas/table.png' %}" alt="Порядок измерений на пункте хода"></p>
        </div>
          <div class="container2">
            <div class="lox"><a href="payment.html" class="btn">
                <h1>Начать расчёт</h1>
              </a></div>
          </div>
        </div>
{% endblock content %}
