<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Теория № 1</title>
        <link rel="stylesheet" href="styleteor1.css">
    </head>
    <body>
      <div id="header">    
        <a href="index.html"><img src="logo.png" Width="100" Height="50"></a>
        <p><a class="ssylka" href="author.html">Войти</a></p>
      </div>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul class="menu__box">
          <h1>Теоретическое обоснование для теодолита 2Т30П</h1>
          <li><a class="menu__item" href="teor1.html">Рекогносцировка хода</a></li>
          <li><a class="menu__item" href="teor2.html">Проложение тахеометрического хода</a></li>
          <li><a class="menu__item" href="teor3.html">Порядок измерений на пункте хода</a></li>
          <li><a class="menu__item" href="teor4.html">Камеральная обработка результатов измерений</a></li>
          <li><a class="menu__item" href="teor5.html">Ведомость вычисления координат точек хода</a></li>
          <li><a class="menu__item" href="teor6.html">Ведомость вычисления высот тахеометрического хода</a></li>
          <li><a class="menu__item" href="teor7.html">Тахеометрическая съемка</a></li>
        </ul>
      </div> 
      <div class="razrab"> 
        <h1>Ведомость вычисления координат точек хода</h2>
        <div id="formula1"><img src="formula7.PNG"></div>
        <p>Вычисляется сумма измеренных углов <img src="formula8.PNG"> и теоретическая сумма измеренных углов:</p>
        <div id="formula1"><img src="formula9.PNG"></div>
        <p>где n – число сторон в ходе.</p>
        <p>Угловая невязка рассчитывается по формуле:</p>
        <div id="formula1"><img src="formula10.PNG"></div>
        <p>Угловая невязка в тахеометрическом ходе не должна превышать предельную невязку:</p>
        <div id="formula1"><img src="formula11.PNG"></div>
        <p>Поправки в углы поворота вычисляются до 0,1′ по формуле:</p>
        <div id="formula1"><img src="formula12.PNG"></div>
        <p>Должно выполняться условие <img src="formula13.PNG"></p>
        <p>Дирекционные углы сторон хода вычисляются до 0,1′ с использованием исправленных горизонтальных углов:</p>
        <div id="formula1"><img src="formula14.PNG"></div>
        <p>При этом должно выполняться условие <img src="formula15.PNG"></p>
        <p>Практические приращения координат при измерении линий нитяным дальномером вычисляются до 0,1 м по формулам:</p>
        <div id="formula1"><img src="formula16.PNG"></div>
        <p>После вычисления приращений координат вычисляются суммы практических приращений координат<img src="formula17.PNG"> и теоретические суммы приращений координат по формулам:</p>
        <div id="formula1"><img src="formula18.PNG"></div>
        <p>Вычисляются невязки:</p>
        <div id="formula1"><img src="formula19.PNG"></div>
        <p>Абсолютная и относительная линейные невязки по ходу вычисляются по формулам:</p>
        <div id="formula1"><img src="formula20.PNG"></div>
        <p>Допустимую линейную невязку и допустимую относительную линейную невязку по ходу вычисляются по формулам:</p>
        <div id="formula1"><img src="formula21.PNG"></div>
        <p>Относительная линейная невязка по ходу не должна превышать для нитяного дальномера величины 1/500.</p>
        <p>Если полученная линейная невязка удовлетворяет требованиям, то вычисляют поправки в приращение координат:</p>
        <div id="formula1"><img src="formula22.PNG"></div>
        <p>Должны выполняться условия:<img src="formula23.PNG"></p>
        <p>Поправки вводятся в соответствующие приращения координат:</p>
        <div id="formula1"><img src="formula24.PNG"></div>
        <p>Должны выполняться условия:<img src="formula25.PNG"></p>
        <p>После вычисления поправок и исправленных приращений координат вычисляются исправленные координаты:</p>
        <div id="formula1"><img src="formula26.PNG"></div>
        <p>Должны выполняться условия:<img src="formula27.PNG"></p>
        <p>Вычисления высот пунктов тахеометрического хода производят по такой же схеме, как и для координат.</p>
      </div>
      <div class="container2">
        <div class="lox"><a href="payment.html" class="btn">Начать расчёт</a></div>
      </div>
    <div id="footer">
      <div id="x1">&copy;Информаторы 2022</div>
      <div id="x2"><img src="MIIGAiK.png" Width="75" Height="95"></div>
    </div>
</div>
</body>
</html>