{% extends "base.html" %}
{% block content %}
{% load static %}
  <div class="razrab">
    <h1>Тахеометрическая съемка</h1>
    <p>В условиях учебной практики тахеометрическую съемку выполняют отдельно от проложения хода. Предметы и контуры местности, которые подлежат съемке, указаны в Инструкции по топографической съемке. На рисунке указано расположение реечных точек при съемке ситуации (а) и рельефа (б).</p>
    <div id="formula1"><img src="{% static 'images/formulas/formula39.PNG' %}"></div>
    <div id="formula1"><img src="{% static 'images/formulas/formula40.PNG' %}"></div>
    <p>При съемке следует также руководствоваться книгой условных знаков для масштабов 1:500 – 1:5000 и пояснениями к ним.</p>
    <p>Тахеометрическая съемка выполняется полярным методом. Теодолит центрируется на станции с точностью 1 см. Измеряется высота прибора, определяется место нуля вертикального круга. Рабочее положение прибора ‒ круг «лево».</p>
    <p>Ориентирование лимба осуществляется на заднюю или переднюю точку хода (около 0°00,0′).</p>
    <u>После ориентирования приступают к набору пикетов:</u>
    <p>а) наводят вертикальную нить на ось симметрии рейки и производят отсчет по горизонтальному кругу до десятых долей минуты.</p>
    <p>б) наводят горизонтальную нить на определенную высоту визирования, вычисляют величину i-<i>v</i> (где i ‒ высота прибора, а <i>v</i> ‒ высота визирования), и записывают ее в журнал; производят отсчет по вертикальному кругу до десятых долей минуты.</p>
    <p>наводят нижнюю дальномерную нить на целое число делений на рейке и производят дальномерный отсчет.</p>
    <p>отмечают пикет на абрисе съемки.</p>
    <p>По окончании съемки на станции производят проверку ориентирования лимба: выполняют визирование на пункт, по которому был ориентирован лимб, и делают отсчет по горизонтальному кругу. Изменение ориентирования допускается не более 1,5′. Если изменение больше допуска, то съемку на станции повторяют.</p>
    <p>Для того чтобы свести к минимуму повторные измерения, рекомендуется через каждые 10 пикетов проверять ориентирование лимба. В таком случае, если произойдет нарушение ориентирования лимба, повторять придется не более 10 пикетов.</p>
    <p>В процессе съемки ведется абрис. Абрис ведется в журнале съемки или в отдельном журнале. Для ведения абриса рекомендуется выделить отдельного человека, который будет передвигаться вблизи речников и вести абрис. Абрис ведется в примерном масштабе съемки, простым мягким карандашом, в условных знаках. Его ориентируют строго на север местности. На абрисе отмечают ситуацию и формы рельефа, подлежащие съемке, а также направления скатов, бровки, подошвы и т.д.</p>
    <p>Нумерация пикетов сплошная на всем участке съемки. Если в бригаде функции записывающего и ведущего абрис не совмещены, тогда через каждые 10 пикетов необходимо сличать нумерацию пикетов в абрисе и журнале.</p>
    <p>Пример страницы пикетажного журнала и абриса приведен на рисунке.</p>
    <div id="formula1"><img src="{% static 'images/formulas/formula41.png' %}"></div>
    <div id="formula1"><img src="{% static 'images/formulas/formula42.png' %}"></div>
  </div>
  <div class="source">
      <p>ИСТОЧНИКИ:</p>
  </div>
  <div class="source1">
      <p>1. Тахеометрические работы (съемочное обоснование и тахеометрическая съемка): Методическое пособие / Е.В. Меньшова - Москва, 2020</p>
  </div>
  <div class="container2">
    <div class="lox"><a href="payment.html" class="btn">
        <h1>Начать расчёт</h1>
      </a></div>
  </div>
</div>
{% endblock content %}
