{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="razrab">
        <h1>Ведомость вычисления высот тахеометрического хода</h1>
        <div id="formula1"><img src="{% static 'images/formulas/formula28.PNG'%}"></div>
        <p>Вычисляют сумму практических превышений   и теоретическую сумму превышений по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula29.PNG'%}"></div>
        <p>Высотную невязку находят по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula30.PNG'%}"></div>
        <p>Допустимую невязку вычисляют по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula31.PNG'%}"></div>
        <p>Если <img src="{% static 'images/formulas/formula32.PNG'%}">вычисляют поправки в превышения по формуле:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula33.PNG'%}"></div>
        <p>Должно выполняться условие <img src="{% static 'images/formulas/formula34.PNG'%}">: 
        <p>Далее вычисляют исправленные превышения:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula35.PNG'%}"></div>
        <p>Должно выполняться условие: <img src="{% static 'images/formulas/formula36.PNG'%}"></p>
        <p>После вычисления поправок вычисляются исправленные координаты:</p>
        <div id="formula1"><img src="{% static 'images/formulas/formula37.PNG'%}"></div>
        <p>Должно выполняться условие:<img src="{% static 'images/formulas/formula38.PNG'%}"></p>

    </div>
    <div class="container2">
        <div class="lox"><a href="payment.html" class="btn">
            <h1>Начать расчёт</h1>
          </a></div>
      </div>
    </div>
{% endblock content %}
