{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="razrab">
    <h1>Рекогносцировка хода</h1>
    <p>Рекогносцировка хода выполняется всей бригадой совместно с руководителем бригады. Руководитель бригады должен
      познакомить бригаду с участком съемки и пунктами исходного обоснования.
      Местоположение пунктов хода необходимо намечать таким образом, чтобы длины сторон были в пределах 100-120 метров,
      обеспечивалась хорошая обзорность с пунктов хода для дальнейшей съемки ситуации и рельефа.
      Пункты намечают не менее чем в 3 метрах от кромки автомобильных дорог. Пункты хода закрепляются на местности
      деревянными кольями, вбитыми в дно выемки (глубиной не более 5 см), имеющую различную форму – треугольник, круг,
      квадрат, крест (для безошибочного опознавания на местности). Колья должны выступать над поверхностью дна
      углубления не более на 0,5−1 см.
      Следует учитывать, что из-за ограниченного количества исходных пунктов, не следует производить съемку с этих
      пунктов. При необходимости выполнения съемки надо сделать рядом выносную точку.</b>
  </div>
  <div class="container2">
    <div class="lox"><a href="payment.html" class="btn">
        <h1>Начать расчёт</h1>
      </a></div>
  </div>
</div>
{% endblock content %}