{% extends "base.html" %}
{% block content %}
      {% load static %}
      <div class="container">
        <div class="razrab">
          <h1>Проложение тахеометрического хода</h1>
          <p>Порядок проложения тахеометрического хода следующий:</p>
          <p>1.	Установить прибор над пунктом (точкой) хода и привести его в рабочее положение. Реечники в это время устанавливают рейки на соседних пунктах хода в отвесном положении (см. ниже п.3).</p>
          <p>2.	Измеряется высота прибора от верха колышка до оси вращения трубы с точностью до десятых долей сантиметра. Измерение производят с помощью 2-х метровой металлической рулетки: сначала от верха колышка до верхней грани головки штатива, потом от верхней грани головки штатива до оси вращения зрительной трубы. Далее вычисляют среднее из результатов измерений и округляют его до целых сантиметров.</p>
          <p>3.	Установка вех и реек на предыдущем и последующем пунктах хода. Вехи следует устанавливать (втыкать в землю), за колом в створе наблюдаемой линии, как показано на рисунке. Рейки устанавливаются на колышек таким образом, чтобы их оси проходили через центр колышка и занимали отвесное положение. Для наиболее точной установки реек в отвесное положение следует использовать отвесы.</p>
          <p><img src="{% static 'images/formulas/MeasurementOrder.png' %}" alt="Порядок измерений на пункте хода"></p>
        </div>
        <div class="container2">
          <div class="lox"><a href="payment.html" class="btn">
              <h1>Начать расчёт</h1>
            </a></div>
        </div>
      </div>
{% endblock content %}
