{% extends "base.html" %}
{% block content %}
      <div class="razrab">
          <h1>Камеральная обработка результатов измерений</h2>
          <p>Камеральную обработку начинают с проверки полевых журналов «во вторую руку». Все вычисления должны быть проверены, проверяющий расписывается на каждой проверенной странице.</p>
          <p>Исходными данными для вычисления координат пунктов являются координаты начального и конечного пунктов хода, а также дирекционные углы исходных направлений. Если дирекционные углы неизвестны, то их получают из решения обратной геодезической задачи.</p>
      </div>
      <div class="container2">
        <div class="lox"><a href="payment.html" class="btn">Начать расчёт</a></div>
      </div>
{% endblock content %}
